/* .rowProduct{
    display: inline-flex;
    margin-left: 0%;
    margin-right: 2.5%;
    width: 82%;
}
.card{
    display: flex;
} 
body{
    font-family: fakt-web,Helvetica Neue,Hevetica,sans-serif;
}*/
.bg-col{
    background-color:  rgb(245,194,88);
    /* position: fixed ; */
    /* opacity: 0.85; */
}

.bg-col2{
    background-color:  rgb(225,125,7)


    ;
    padding-left: 1.3rem;
}
.card{
    margin-right: 1.3rem;
    margin-bottom: 1.3rem;
}

h4{
    padding: 1.3rem 1.3rem 1.3rem 0;
}

.bg-col-boy{
    background-color: rgba(174,218,229,255);
    /* position: fixed; */

}

.bg-col-boy2{
    background-color: rgb(125,140,140)
    ;
    padding-left: 1.3rem;
}

/* girl */
.jumbotron1 {
    background: url(./picturesGirls/girlJumbotron.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}
/* baby */
.jumbotron2 {
    background: url(./picturesGirls/babyJumbotron.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}
/* boy */
.jumbotron3 {
    background: url(./picturesGirls/boysJumbotron.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}
.jumbotron4 {
    background: url(./picturesGirls/VDAY_3x.jpeg) no-repeat center;
    background-size: cover;
    height: 100vh;
}
 
.jumbotron5 {
    background: url(./picturesGirls/Clearance.jpeg) no-repeat center;
    background-size: cover;
    height: 100vh;
}
