.contact {
  background-color: whitesmoke;
}


body {
  background-color: cornsilk;
}

/* contact jumbotron */
.jumbotron4 {
  background: url(./picturesGirls/background.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}